.cent{
  text-align: center;
}

.board{
  background: linear-gradient(to bottom right, rgb(240, 248, 255) 40%, #fcf4fc 65%);
}

button {
  background-color: lightskyblue;
  color: white;
  padding: 14px 20px;
  width: 22%;
}

.container {
  padding: 16px;
}

.imgcontainer {
  text-align: center;
}

img.avantar {
  width: 12%;
}

.em{
  width: 3.5%;
}

.margin{
  margin-bottom: 40px;
}
