input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10px;
  border: 1px solid #f1f1f1;
  background: linear-gradient(to bottom right, rgb(255, 255, 255) 40%, #fcf4fc 65%);
}

input[type=tel] {
  padding: 12px 20px;
  border: 1px solid #f1f1f1;
  background: linear-gradient(to bottom right, rgb(255, 255, 255) 40%, #fcf4fc 65%);
}

.row{
  display: flex;
  box-sizing: border-box;
}
